body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	font-family: Comic Sans;
}

.color {
	background-color: #6C567B;

}

h1 {
	font-family: 'Give You Glory', cursive;
	font-size: 50px;
	font-weight: lighter;
	letter-spacing: 2px;
	margin-bottom: 10px;

}
.inputSection {
	margin: 30px 0px 50px 0px;
	width: 400px;
}

.inputs {
	width: inherit;
	display: flex;
	flex-direction: column;
}

input {
	margin-top: 10px;
}

.addOption {
	margin-top: 10px;
	width: 20%;
}

button {
	padding: 10px
}

/*other/*

